{% extends "index.html" %}

{% block title %}About{% endblock title %}


{% block body %}
    <div class="c-lg-12" style="
    background: rgba(0,0,0,0.6);
    margin-top: 3em;
    margin-bottom: 5em;
    padding: 2em 1em;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 0px rgba(0, 3, 0, 0.7);">
    <style>
        p
        {
           color: white;
        }
    </style>
    <center>
        <img src="\static\1.jpg" alt="Rudra Us" width="500" height="500" >

        <p>
            I am a third-year Computer Science student at S.I.E.S College, passionate about exploring the
            ever-evolving world of technology. With a solid foundation in programming and problem-solving,
            I am eager to apply my knowledge to real-world challenges. My current focus includes working on this project
            which is Facial Recognition Attendance System , This helped me gaining practical experience that will also
            prepare me for a successful career in the tech industry. The Facial Recognition Attendance System aims
            to revolutionize the way attendance is recorded and managed in educational institutions.
            By leveraging advanced facial recognition technology, this project seeks to automate and enhance the
            accuracy of attendance tracking,significantly reducing the manual effort and potential for errors
            associated with traditional methods.
            The system will utilize cutting-edge facial recognition algorithms to identify and verify students
            in real-time, integrating seamlessly with existing academic management systems.
            Key objectives include automating attendance recording, improving efficiency,
            and providing real-time data for administrators. The project will involve researching and
            implementing facial recognition technology, designing a user-friendly interface,
            and developing a robust database for managing records. Testing and deployment will ensure the
            system's reliability and effectiveness. With this innovative approach,
            the Facial Recognition Attendance System promises to deliver a more accurate, efficient,
            and user-friendly solution for attendance management.


        </p>
    </center>

    </div>
{% endblock body %}